/* section_2 css */
.section_2 {
    width: 100%;
    background-color: lightblue;
    box-sizing: border-box;
}

.section_2>h3 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 60px;
    font-weight: 700;
}

.con_wrap_2 {
    display: flex;
    justify-content: space-between;
}

.con_2 {
    width: 30%;
    height: 400px;
    background-color: saddlebrown;
}